In [1]:
#Importar librerías
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# leer archivo fifa
df = pd.read_csv("fifa_eda.csv")

In [7]:
# primeras 20 lineas
print("=== Primeras 20 líneas ===")
print(df.head(20))

=== Primeras 20 líneas ===
        ID               Name  Age Nationality  Overall  Potential  \
0   158023           L. Messi   31   Argentina       94         94
1    20801  Cristiano Ronaldo   33    Portugal       94         94
2   190871          Neymar Jr   26      Brazil       92         93
3   193080             De Gea   27       Spain       91         93
4   192985       K. De Bruyne   27     Belgium       91         92
5   183277          E. Hazard   27     Belgium       91         91
6   177003          L. Modrić   32     Croatia       91         91
7   176580          L. Suárez   31     Uruguay       91         91
8   155862       Sergio Ramos   32       Spain       91         91
9   200389           J. Oblak   25    Slovenia       90         93
10  188545     R. Lewandowski   29      Poland       90         90
11  182521           T. Kroos   28     Germany       90         90
12  182493           D. Godín   32     Uruguay       90         90
13  168542        David Silva   32       Spain       90         90
14  215914           N. Kanté   27      France       89         90
15  211110          P. Dybala   24   Argentina       89         94
16  202126            H. Kane   24     England       89         91
17  194765       A. Griezmann   27      France       89         90
18  192448      M. ter Stegen   26     Germany       89         92
19  192119        T. Courtois   26     Belgium       89         90

                   Club     Value   Wage Preferred Foot  \
0          FC Barcelona  110500.0  565.0           Left
1              Juventus   77000.0  405.0          Right
2   Paris Saint-Germain  118500.0  290.0          Right
3     Manchester United   72000.0  260.0          Right
4       Manchester City  102000.0  355.0          Right
5               Chelsea   93000.0  340.0          Right
6           Real Madrid   67000.0  420.0          Right
7          FC Barcelona   80000.0  455.0          Right
8           Real Madrid   51000.0  380.0          Right
9       Atlético Madrid   68000.0   94.0          Right
10    FC Bayern München   77000.0  205.0          Right
11          Real Madrid   76500.0  355.0          Right
12      Atlético Madrid   44000.0  125.0          Right
13      Manchester City   60000.0  285.0           Left
14              Chelsea   63000.0  225.0          Right
15             Juventus   89000.0  205.0           Left
16    Tottenham Hotspur   83500.0  205.0          Right
17      Atlético Madrid   78000.0  145.0           Left
18         FC Barcelona   58000.0  240.0          Right
19          Real Madrid   53500.0  240.0           Left

    International Reputation  Skill Moves Position  Joined  \
0                        5.0          4.0       RF    2004
1                        5.0          5.0       ST    2018
2                        5.0          5.0       LW    2017
3                        4.0          1.0       GK    2011
4                        4.0          4.0      RCM    2015
5                        4.0          4.0       LF    2012
6                        4.0          4.0      RCM    2012
7                        5.0          3.0       RS    2014
8                        4.0          3.0      RCB    2005
9                        3.0          1.0       GK    2014
10                       4.0          4.0       ST    2014
11                       4.0          3.0      LCM    2014
12                       3.0          2.0       CB    2010
13                       4.0          4.0      LCM    2010
14                       3.0          2.0      LDM    2016
15                       3.0          4.0       LF    2015
16                       3.0          3.0       ST    2010
17                       4.0          4.0      CAM    2014
18                       3.0          1.0       GK    2014
19                       4.0          1.0       GK    2018

   Contract Valid Until    Height  Weight  Release Clause
0            2021-01-01  5.583333   159.0        226500.0
1            2022-01-01  6.166667   183.0        127100.0
2            2022-01-01  5.750000   150.0        228100.0
3            2020-01-01  6.333333   168.0        138600.0
4            2023-01-01  5.916667   154.0        196400.0
5            2020-01-01  5.666667   163.0        172100.0
6            2020-01-01  5.666667   146.0        137400.0
7            2021-01-01  6.000000   190.0        164000.0
8            2020-01-01  6.000000   181.0        104600.0
9            2021-01-01  6.166667   192.0        144500.0
10           2021-01-01  6.000000   176.0        127100.0
11           2022-01-01  6.000000   168.0        156800.0
12           2019-01-01  6.166667   172.0         90200.0
13           2020-01-01  5.666667   148.0        111000.0
14           2023-01-01  5.500000   159.0        121300.0
15           2022-01-01  5.833333   165.0        153500.0
16           2024-01-01  6.166667   196.0        160700.0
17           2023-01-01  5.750000   161.0        165800.0
18           2022-01-01  6.166667   187.0        123300.0
19           2024-01-01  6.500000   212.0        113700.0

In [8]:
#Estadistica Media, Minimo y Maximo
print("\n=== Media, mínimo y máximo generales ===")
print(df[['Overall', 'Potential']].agg(['mean', 'min', 'max']))

=== Media, mínimo y máximo generales ===
        Overall  Potential
mean  66.238699  71.307299
min   46.000000  48.000000
max   94.000000  95.000000

In [9]:
# Por Pais
print("\n=== Media, mínimo y máximo por país ===")
print(df.groupby('Nationality')[['Overall', 'Potential']].agg(['mean', 'min', 'max']).head(10))

=== Media, mínimo y máximo por país ===
                     Overall          Potential
                        mean min max       mean min max
Nationality
Afghanistan        61.000000  59  63  67.750000  64  71
Albania            65.925000  52  81  71.700000  62  86
Algeria            70.633333  58  85  72.983333  62  85
Andorra            62.000000  62  62  64.000000  64  64
Angola             67.600000  60  78  71.533333  64  82
Antigua & Barbuda  62.500000  58  69  67.750000  63  77
Argentina          68.572038  51  94  73.210245  57  94
Armenia            69.000000  63  83  71.800000  66  83
Australia          62.652542  50  79  68.360169  56  83
Austria            64.916107  48  85  69.845638  58  87

In [13]:
# agregar jugadores ficticios
player1 = {
    'ID': 999001, 'Name': 'Player One', 'Age': 25, 'Nationality': 'Atlantis', 'Overall': 90,
    'Potential': 92, 'Club': 'Fantasy FC', 'Value': 100000.0, 'Wage': 500.0, 'Preferred Foot': 'Right',
    'International Reputation': 3.0, 'Skill Moves': 4.0, 'Position': 'ST', 'Joined': 2020,
    'Contract Valid Until': '2025-01-01', 'Height': 6.0, 'Weight': 170.0, 'Release Clause': 200000.0
}
player2 = {
    'ID': 999002, 'Name': 'Player Two', 'Age': 20, 'Nationality': 'El Dorado', 'Overall': 88,
    'Potential': 95, 'Club': 'Legends United', 'Value': 150000.0, 'Wage': 600.0, 'Preferred Foot': 'Left',
    'International Reputation': 4.0, 'Skill Moves': 5.0, 'Position': 'LW', 'Joined': 2021,
    'Contract Valid Until': '2026-01-01', 'Height': 5.9, 'Weight': 160.0, 'Release Clause': 250000.0}

    # añadir jugadores al dataframe
df_new = pd.DataFrame([player1, player2])
df = pd.concat([df, df_new], ignore_index=True)

print("\n=== Últimas filas con jugadores ficticios ===")
print(df.tail())

=== Últimas filas con jugadores ficticios ===
           ID        Name  Age Nationality  Overall  Potential  \
18206  246269   G. Nugent   16     England       46         66
18207  999001  Player One   25    Atlantis       90         92
18208  999002  Player Two   20   El Dorado       88         95
18209  999001  Player One   25    Atlantis       90         92
18210  999002  Player Two   20   El Dorado       88         95

                  Club     Value   Wage Preferred Foot  \
18206  Tranmere Rovers      60.0    1.0          Right
18207       Fantasy FC  100000.0  500.0          Right
18208   Legends United  150000.0  600.0           Left
18209       Fantasy FC  100000.0  500.0          Right
18210   Legends United  150000.0  600.0           Left

       International Reputation  Skill Moves Position  Joined  \
18206                       1.0          2.0       CM    2018
18207                       3.0          4.0       ST    2020
18208                       4.0          5.0       LW    2021
18209                       3.0          4.0       ST    2020
18210                       4.0          5.0       LW    2021

      Contract Valid Until    Height  Weight  Release Clause
18206           2019-01-01  5.833333   176.0           165.0
18207           2025-01-01  6.000000   170.0        200000.0
18208           2026-01-01  5.900000   160.0        250000.0
18209           2025-01-01  6.000000   170.0        200000.0
18210           2026-01-01  5.900000   160.0        250000.0

In [14]:
# estadisticas de jugadores ficticios

print("\n=== Nuevas estadísticas generales ===")
print(df[['Overall', 'Potential']].agg(['mean', 'min', 'max']))

print("\n=== Nuevas estadísticas por país ===")
print(df.groupby('Nationality')[['Overall', 'Potential']].agg(['mean', 'min', 'max']).tail(10))

=== Nuevas estadísticas generales ===
        Overall  Potential
mean  66.243699  71.312174
min   46.000000  48.000000
max   94.000000  95.000000

=== Nuevas estadísticas por país ===
                        Overall          Potential
                           mean min max       mean min max
Nationality
Uganda                62.500000  54  70  68.333333  64  74
Ukraine               70.424658  52  82  75.095890  60  88
United Arab Emirates  77.000000  77  77  78.000000  78  78
United States         65.172805  50  79  70.515581  55  87
Uruguay               70.429530  54  91  73.382550  58  91
Uzbekistan            67.500000  60  75  67.500000  60  75
Venezuela             67.268657  53  81  73.149254  55  84
Wales                 64.139535  47  88  69.968992  56  88
Zambia                65.222222  56  73  73.777778  66  83
Zimbabwe              69.769231  64  78  72.461538  66  83

In [17]:
# Lambda para añadir zona horaria y capital
country_info = {
    'Argentina': ('GMT-3', 'Buenos Aires'),
    'Portugal': ('GMT+0', 'Lisbon'),
    'Brazil': ('GMT-3', 'Brasilia'),
    'Spain': ('GMT+1', 'Madrid'),
    'Belgium': ('GMT+1', 'Brussels'),
    'Mexico': ('GMT-6', 'Mexico City'),
    'Atlantis': ('GMT+2', 'Poseidon'),
    'El Dorado': ('GMT-4', 'Oroville')
}

df['Timezone'] = df['Nationality'].apply(lambda x: country_info.get(x, ('Unknown', 'Unknown'))[0])
df['Capital'] = df['Nationality'].apply(lambda x: country_info.get(x, ('Unknown', 'Unknown'))[1])

print("\n=== Zona horaria y capital añadidas ===")
print(df[['Name', 'Nationality', 'Timezone', 'Capital']].tail(10))

=== Zona horaria y capital añadidas ===
                     Name          Nationality Timezone   Capital
18201            D. Walsh  Republic of Ireland  Unknown   Unknown
18202        J. Lundstram              England  Unknown   Unknown
18203  N. Christoffersson               Sweden  Unknown   Unknown
18204           B. Worman              England  Unknown   Unknown
18205      D. Walker-Rice              England  Unknown   Unknown
18206           G. Nugent              England  Unknown   Unknown
18207          Player One             Atlantis    GMT+2  Poseidon
18208          Player Two            El Dorado    GMT-4  Oroville
18209          Player One             Atlantis    GMT+2  Poseidon
18210          Player Two            El Dorado    GMT-4  Oroville

In [19]:
#Lambda para definir candidatos al balón de oro
df['Ballon dOr'] = df['Potential'].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')

print("\n=== Jugadores candidatos al balón de oro ===")
print(df[['Name', 'Potential', 'Ballon dOr']].tail(10))

=== Jugadores candidatos al balón de oro ===
                     Name  Potential Ballon dOr
18201            D. Walsh         68  Next Year
18202        J. Lundstram         65  Next Year
18203  N. Christoffersson         63  Next Year
18204           B. Worman         67  Next Year
18205      D. Walker-Rice         66  Next Year
18206           G. Nugent         66  Next Year
18207          Player One         92  Candidato
18208          Player Two         95  Candidato
18209          Player One         92  Candidato
18210          Player Two         95  Candidato